.navbar-mobile-wrapper {
  padding: 0 10px;
  height: auto;
  background-color: var(--bg-color);
  z-index: 2;
  top: 0;
}

.navbar-mobile-wrapper > .navbar {
	display: flex;
	flex-flow: row;
	width: 100%;
}

.navbar-mobile-wrapper > .navbar > .btn-container {
	flex-grow: 1;
	width: 46px; 
	height: 46px; 
}

.navbar-mobile-wrapper > .navbar > .searchbar-container {
	height: 46px;
	align-self: flex-start;
	flex-grow: 1;
	margin: 0 8px;
	width: calc(100% - 70px);
}

.navbar-mobile-wrapper .searchbar {
  overflow: inherit;
}
.navbar-mobile-wrapper .search.active {
  border-radius: 24px !important;
}

.navbar-mobile-wrapper .options-container {
  position: absolute;
  margin-top: 10px;
  top: 46px;
  left: calc(50% + 3px);
  transform: translateX(-50%); 
  width: 100vw;
}

.navbar-mobile-wrapper .options-container>.option {
  border-bottom: 1px solid var(--bg-light-color);
  width: calc(100% - 40px);
  padding: 0 20px !important;
}

/*@media (max-width: 576px) { 
  .navbar-mobile-wrapper > .navbar {
  	height: 26px;
  }

  .navbar-mobile-wrapper > .navbar > .btn-container {
	 width: 26px; 
	 height: 26px; 
  }
  
  .navbar-mobile-wrapper .btn-container>.nightmode-btn {
  	margin-right: 0;
    float: right;
  }
}*/