
.timetable-scrollable::-webkit-scrollbar {
  display: none;
}

.timetable-scrollable .row.day {
  z-index: 1;
}

.timetable-mobile-wrapper {
  max-height: calc(100% - 148px);
  height: 100%;
	border-radius: 26px 26px 0 0;
	margin-top: 20px;
	//flex: 1;
	overflow: hidden;
	padding: 20px 10px 0 10px;
	background-color: var(--bg-color);
    -webkit-box-shadow: 0px 0px 12px -5px var(--shadow-color);
    -moz-box-shadow: 0px 0px 12px -5px var(--shadow-color);
    box-shadow: 0px 0px 12px -5px var(--shadow-color);
}

.timetable-scrollable {
	height: 100%;
  background-color: var(--bg-color);
  max-height: calc(100% - 148px);
  padding: 0 10px;
  right: 0;
  left: 0;
	margin: auto;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  position: absolute;  
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.timetable-scrollable > section {
	position: relative;
	margin-bottom: 0;
  background-color: var(--bg-color);
}

section > .row {
  max-width: 500px;
  margin: auto;
}

section > .row.day {
	position: sticky;
	top: 0;
	background-color: var(--bg-color);
}

.timetable-scrollable .date {
	width: 100%;
	border-right: none !important;
}

.row.day.today > .time {
	border-right: 1px solid var(--secondary-acsent-color) !important;
}

.row:nth-child(even) .field.today {
  border-right: 1px solid var(--secondary-acsent-color) !important;
}

.timetable-scrollable > .date-info {
	background-color: blue;
}

.week-navigation {
	margin: 10px auto 0 auto;
	padding: 0 10px;
	display: flex;
	max-width: 500px;
	width: calc(100% - 20px);
	justify-content: space-between;
}

.week-navigation .btn {
	margin: 0;
}

.week-navigation > .dates {
	flex-basis: 0;
  flex-grow: 1;
  display: flex;
  text-align: center;
  max-width: 350px;
  width: calc(100% - 112px);
}

.week-navigation > .dates > .date {
	min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.week-navigation > .dates .date>div {
  width: 100%;
  position: relative;
  right: initial;
  text-align: center;
}

.week-navigation > .dates .date>div>div {
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  line-height: 30px;
  cursor: default;
  user-select: none;
}

.week-navigation > .dates .today>div>div {
  font-weight: bold;
  color: var(--white-color);
  background-color: var(--primary-acsent-color);
}

.week-navigation > .dates .non-clickable {
  color: var(--bg-light-color);
}

.week-navigation > .btn-container {
  width: 36px;
  height: 36px;
	padding: 10px;
  display: flex;
  flex-flow: column;
}

.row:nth-child(2n+3) .field.today {
  background-color: var(--secondary-acsent-color);
}

.week-navigation .date.active:not(.today)>div>div {
  background-color: var(--plug-color) !important;
}

.week-navigation .date:not(.non-clickable)>div>div {
  cursor: pointer;
}

.week-navigation .date {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.week-navigation .btn {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media (hover: hover) {
  .week-navigation .date:not(.non-clickable):not(.today)>div>div:hover {
    background-color: var(--plug-color);
  }
}

.timetable-scrollable .no-schedule {
  color: var(--button-color);
  font-size: var(--main-font-size);
  padding: 20px 30px;
  box-sizing: content-box;
  position: absolute;
  width: calc(100% - 60px);
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.timetable-scrollable .loader {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

@media (max-width: 576px) { 
  .week-navigation .date.day {
    font-size: 1rem;
  }

  .week-navigation .date.day>div>div {
    height: 26px;
    width: 26px;
    line-height: 26px;
  }

  .week-navigation .date.day {
    height: auto;
    padding: 0;
  }

  .week-navigation .btn-container {
    padding: 0;
  }
}